{% unless site.blogroll == empty %}
  {% for menu in site.blogroll %}
    {% unless menu.items == empty %}
      <section class="linklist">
        <nav>
          <h3 class="text-base text-[#F0A848] border-b border-white/20 pb-2 mb-2">{{ menu.title }}</h3>
          {% unless menu.items == empty %}
            <ul class="text-[13px]">
              {% for menu_item in menu.items %}
                <li class="{{ menu_item.url | text_if_current}}">
                  <a href="{{ menu_item.url }}" class="block py-0.5 hover:text-[#F0A848]">{{ menu_item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endunless %}
        </nav>
      </section>
    {% endunless %}
  {% endfor %}
{% endunless %}
