{% unless site.blogroll == empty %}
  {% for menu in site.blogroll %}
    {% unless menu.items == empty %}
      <div class="projects">
        <nav>
          <h3>{{ menu.title }}</h3>
          {% unless menu.items == empty %}
            <ul>
              {% for menu_item in menu.items %}
                <li class="{{ menu_item.url | text_if_current}}">
                  <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endunless %}
        </nav>
      </div>
    {% endunless %}
  {% endfor %}
{% endunless %}
