<div class="posthaven hidden">
  <a href="https://posthaven.com?utm_content={{site.url | remove: 'https:' | remove: 'http:' | remove: '/'}}" target="_blank">
    <figure></figure>
    <svg class="posthaven-wordmark">
      <use xlink:href="#posthaven-wordmark"></use>
    </svg>
  </a>
</div>
