{% if page %}
  <header class="pt-4 md:pt-8 px-4 md:px-8">
    <div class="post-title">
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
    </div>
  </header>

  <div class="prose prose-invert px-4 md:px-8" id="post_body_{{ page.id }}">
    {{ page.body_large_image }}
  </div>
{% endif %}
