<div id="main" class="{% if request.template != 'post' %}post-list{% endif %}">
  {% if posts == empty and request.template != 'homepage' %}
    <h2>No posts found.</h2>
  {% endif %}

  {% for post in posts %}
    <div class="post-container">
      <article class="post">
        
        {% include 'post' %}

        {% unless post.has_excerpt? %}
          <footer class="homepage-post-footer">

            <div class="posthaven-share-links">
              {{ post | comment_button }}
              <div class="posthaven-share-item">
                {{ post | upvote_button }}
              </div>
            </div>
            
            <div class="posthaven-share-buttons">
                {{ post | twitter_button }}
                {{ post | facebook_button }}
            </div>

          </footer>
        {% endunless %}
      </article>
    </div>
  {% endfor %}

  {% if posts.pagination %}
    <section class="pagination">
      {% slim_pagination %}
    </section>
  {% endif %}
</div>
