<div id="main" class="{% if request.template != 'post' %}post-list{% endif %} space-y-16 divide-y divide-white/10">

  {% if posts.size == 0 %}
      <article class="post no-posts p-8">
        <h2>No posts found :(</h2>
        <p>This blog would sure look great with some content! Head to the <a href="https://posthaven.com/dashboard">dashboard</a> to create a post.
      </article>
  {% endif %}

  {% for post in posts %}
      <article class="post p-8">
        {% include 'post' %}

        {% unless post.has_excerpt? %}
          <footer class="homepage-post-footer">

            <div class="posthaven-share-links">
              {{ post | comment_button }}
              <div class="posthaven-share-item">
                {{ post | upvote_button }}
              </div>
            </div>

          </footer>
        {% endunless %}
      </article>
  {% endfor %}

  {% if posts.pagination %}
    <section class="pagination">
      {% slim_pagination %}
    </section>
  {% endif %}
</div>
