@import 'normalize';
@import 'hint';
@import 'mixins';
@import 'variables';
@import 'header';
@import 'sidebar';
@import 'post';
@import 'footer';
@import 'social';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

// Use CSS variables (sometimes defined by user) to define rgb colors values.
// DO NOT USE HEX
// We need rgb so we can do client-side (CSS) opacity,
// since CSS doesn't support opacity with hex values, use rgb

// To use CSS variables with SCSS, escape the CSS here using unquote()
// https://stackoverflow.com/questions/20935792/how-can-i-escape-string-css-in-sass-scss

:root {

}



/*********************************************************
*  General
*********************************************************/

body {
  //@include rgba(background,background,1);
  background: unquote(" rgba(var(--background), 1) ");
  color: unquote(" rgba(var(--primary), .8) ");
  font-family: $themeFont;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .overlay {
    background: transparent;
    transition: background .5s ease;
  }

  @media (max-width: 860px) {
    padding-top: 85px; // leave room for fixed header bar
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover { text-decoration: none; }

.small {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6
}

h1, h2, h3, h4, h5, h6 { font-weight: 800; line-height: 1em;}
h1 { font-size: 48px; }
h2 { font-size: 30px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; font-weight: normal; opacity: 0.6 }

textarea, input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 2px solid unquote(" rgba(var(--primary), .15) ") !important;
  box-sizing: border-box;
  color: placeholder(unquote(" rgba(var(--primary), 1) "));
  font-family: $accentFont;
  font-size: 18px;
  height: 50px;
  outline: none;
  @include placeholder(unquote(" rgba(var(--primary), .5) "));
  padding: 10px 0;
  transition: border .5s ease;
  width: 100%;

  &:focus {
    border-bottom: 2px solid unquote(" rgba(var(--primary), .75) ") !important;
    transition: border .1s ease;
  }
}

input[type='submit'],
.posthaven-user-subscribe a,
.post .posthaven-post-body .posthaven-read-more-link a {
  @extend .button;
  font-weight: bold;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
  }

  &:focus {
  }
}

.alert {
  background:#fff;
  border: 1px solid unquote(" rgba(var(--primary), .15) ");
  border-radius: 5px;
  font-size: 14px;
  margin: 10px 0px 10px 60px;
  max-width: 100%;
  padding:8px;
  position:relative;
  width: $postWidth;

  &:before {
    content:"";
    border-width:0 10px 10px;
    border-style:solid;
    border-color:#ccc transparent;
    bottom:auto;
    left:20px;
    /* reduce the damage in FF3.0 */
    display:block;
    position: absolute;
    /* FIXME - This is computed from the border below? Why isn't it using scss variables? */
    top:-10px; /* value = - border-top-width - border-bottom-width */
    right:auto; /* controls horizontal position */
    width:0;
  }

  /* creates the smaller  triangle */
  &:after {
    content:"";
    /* FIXME - Computed? What adds up to -9??? */
    border-width:0 10px 10px;
    border-style:solid;
    border-color:#fff transparent;
    bottom:auto;
    left:20px;
    /* reduce the damage in FF3.0 */
    display:block;
    position: absolute;
    right:auto; /* value = (:before right) + (:before border-right) - (:after border-right) */
    top:-9px; /* value = - border-top-width - border-bottom-width */
    width:0;
  }
}

.container {
  box-sizing: border-box;
  margin: auto;

  @media (min-width: 1200px) {
    padding: 0 30px;
  }
}

section.subhead {
  margin: 50px 0 20px;
  text-align: left;

  h3 {
    margin: 0;
  }
}

.tags {
  max-width: $postWidth;
  margin: 0 auto 50px;

  h4 {
    margin-bottom: 15px;
  }

  .all-tags {
    display: flex;
    margin-top: 10px;
    justify-content: center;

    .show-all-tags {
      cursor: pointer;
      font-weight: 800;
    }
  }

  ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin: 2px;
      @extend .chips;

      &.hide {
        display: none;
      }
    }
  }
}

// FOOTER ICON
// the logomark is in the <figure>.
// the wordmark comes from the svg sprite.
// wordmark is referenced in #id, then the .class sits
// on the <svg> in the html to use css color variables
// so we can colorize from css

.posthaven {
  display: flex;
  justify-content: center;
  margin: 50px;

  a {
    align-items: center;
    justify-content: center;
    display: inline-flex;
  }

  figure {
    border-radius: 4px;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    position: relative;
    width: 32px;

    &:before,
    &:after {
      bottom: 0;
      content: "";
      position: absolute;
      top: 0;
    }

    &:before {
      background: unquote(" rgba(var(--primary), .35) ");
      left: 0;
      width: 22px;
    }

    &:after {
      background: unquote(" rgba(var(--primary), .5) ");
      right: 0;
      width: 10px;
    }
  }

  .posthaven-wordmark {
    --color-1: unquote(" rgba(var(--primary), .35) ");
    --color-2: unquote(" rgba(var(--primary), .5) ");
    height: 13px;
    width: 120px;
  }
}

.main-content {
  min-height: 300px;
}

.main-content,
.subscribe {
  box-sizing: border-box;
}

/*********************************************************
*  Subscribe Form
*********************************************************/

.subscribe {

  h3 {
    margin-bottom: 0px;
  }

  .subscribe-wrapper {

    p {
      font-size: 14px;
      margin: 0 0 10px;
     }
  }

  input {
    margin-top: 12px;
    max-width: 400px;
  }

  input[type=submit] {
    display: none;
    margin: 12px auto;
    max-width: 400px;
  }
  .posthaven-subscribe-error { color: #a00; }
}

.posthaven-user-subscribed .post-responses .subscribe {
  display: none;
}

/*********************************************************
*  Private Page
*********************************************************/

.posthaven-password-field {
  display: inline-block;
}

/*********************************************************
*  Posts
*********************************************************/

#main {
  @media (min-width: 861px) {
    margin: 0 auto 100px;
  }

  @media (max-width: 860px) {
  }
}

section.subhead,
#main.archive-results {
  max-width: $postWidth;
  margin: auto;
  text-align: left;
}

/*********************************************************
*  Pagination
*********************************************************/

.pagination {
  margin: auto;
  max-width: $postWidth;
  text-align: center;

  @media (max-width: 860px) {
    padding: 0 35px;
  }

  ul {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $accentFont;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      &.first a,
      &.previous a,
      &.next a,
      &.last a{
        @extend .button;
      }

      &.previous,
      &.next {
        flex: 0 0 100px;
      }

      &.previous {
        text-align: left;

        a:before {
          content: "\2039";
          font-size: 20px;
          margin-right: 10px;
        }
      }

      &.next {
        text-align: right;

        a:after {
          content: "\203A";
          font-size: 20px;
          margin-left: 10px;
        }
      }

      a {
        position: relative;

        &:active,
        &:focus {
          outline: 5px auto -webkit-focus-ring-color;
        }
      }

      // page numbers
      &.number {
        &.active {
          a {
            color: unquote(" rgba(var(--primary), .3) ");
            cursor: default;
            border: solid 1px transparent;
            font-size: 14px;
            justify-content: center;

            &:hover,
            &:active {
              color: unquote(" rgba(var(--primary), .3) ");

              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  ul li.number, ul li.gap, ul li.first, ul li.last { display: none; }
  ul li.number.active { display: block; flex: 1;}
}


/*********************************************************
*  Responses
*********************************************************/

#post_responses {
  margin: 40px auto;
  max-width: 600px;
  width: calc(100% - 70px);
}

.post-responses {
  h4 {
    font-family: $accentFont;
    font-size: 20px;
    line-height: 24px;
    margin: 50px 0 20px;
  }

  .responses {
    .response {
      font-size: 18px;
      line-height: 1.6em;
      text-align: justify;
      margin: 10px 0px 30px;
      position: relative;

      p {
        margin: 15px 0px;
      }

      .byline {
        display: flex;
        flex-direction: row;
        font-family: $accentFont;
        font-size: 16px;
        justify-content: space-between;
        margin-bottom: 5px;

        time {
          color: unquote(" rgba(var(--primary), .25) ");
        }
      }
    }
  }
  .posthaven-loader {
    margin: 5em auto;
  }
}
.posthaven-share-buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: $postWidth;

  .posthaven-share-item {
    line-height: 0;
    margin-right: 10px;
  }
}

// internal buttons
.posthaven-share-links {
  display: flex;
  flex-direction: row;
  line-height: normal;
  margin-right: 10px;
  width: 100%;

  .posthaven-comment-number {
    margin-left: 5px;
  }

  .posthaven-comment-number,
  .posthaven-upvote-number {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }

  &.large {
    font-size: 13px;

    .posthaven-control {
      font-size: 14px;
      height: 28px;
    }

    .posthaven-comment-number,
    .posthaven-upvote-number {
      font-size: 14px;
    }
  }

  &:not(.large) {
    .posthaven-control {
      font-size: 12px;
      height: 20px;
    }

    .posthaven-upvote-number {
      font-size: 12px;
    }
  }

  .posthaven-share-item {
    display: inline-block;
    margin: 0px 10px 0 0;
    flex: 0 50%;
  }
        
  .posthaven-control {
    align-items: center;
    background: #1285F9;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 14px !important;
    height: 48px !important;
    justify-content: center;
    padding: 0 10px;
    user-select: none;

    &:hover {
      background: darken(#1285F9, 5%);

      .posthaven-upvote-number {
        color: #fff;

      }
    }

    &:active {
      background: darken(#1285F9, 10%);
      transform: scale(.98);
    }

    .posthaven-comment-label {
      font-weight: bold;
      padding-left: 24px;
      position: relative;

      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1C4.567 1 1 4.144 1 8.012c0 2.217 1.167 4.192 2.967 5.482l.124 2.621c.023.489.36.648.75.357L7 14.864c.633.161 1.3.202 2 .202 4.433 0 8-3.144 8-7.013C17 4.183 13.433 1 9 1z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
        content: "";
        height: 18px;
        left: 0;
        position: absolute;
        top: -1px;
        width: 18px;
      }
    }

    .posthaven-comment-count {
      margin-left: 5px;
    }

    .posthaven-comment-label,
    .posthaven-comment-count,
    &.posthaven-upvote,
    &.posthaven-upvoted {
      color: #fff;

      .posthaven-upvote-holder {
        align-items: center;
        display: flex;
        justify-content: center;

        .posthaven-upvote-label,
        .posthaven-upvoted-label {
          color: #fff;
        }
      }
    }

    .posthaven-upvote-icon,
    .posthaven-upvoted-icon {
      // background-image: url('data:image/svg+xml;utf8,<svg width="18" height="56" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="nonzero"><path d="M9.627.778c.527-.996 2.253-1.056 2.782-.061.02.02.02.04.04.08.325.67.305 1.443-.04 2.092-.488.914-1.32 1.788-1.198 2.458.02.122.142.224.264.224l4.529.224c.487.02.954.223 1.3.568.425.406.75 1.117.385 2.275 0 0 .853 1.665-.265 2.781 0 0 .792.995-.467 2.173 0 0 .528 1.666-.792 2.052-1.016.304-6.052.142-7.84.04-.487-.04-.974-.162-1.4-.406a4.326 4.326 0 0 0-1.869-.569.139.139 0 0 1-.142-.142V8.028c0-.142.102-.243.224-.284.386-.101.691-.304 1.442-1.482 0 0 .223-2.092 1.686-2.946.406-.71.853-1.563 1.36-2.538zm-5.748 6.54a.32.32 0 0 1 .325.325v7.087a.321.321 0 0 1-.325.325H.325A.321.321 0 0 1 0 14.73V7.643c0-.183.143-.325.325-.325zM18 44.631L5.952 55.863l-.084-.09-2.368-2.54L0 49.48l2.592-2.416 3.5 3.752L15.548 42z"/></g></svg>');
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='56' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='nonzero'%3E%3Cpath d='M9.627.778c.527-.996 2.253-1.056 2.782-.061.02.02.02.04.04.08.325.67.305 1.443-.04 2.092-.488.914-1.32 1.788-1.198 2.458.02.122.142.224.264.224l4.529.224c.487.02.954.223 1.3.568.425.406.75 1.117.385 2.275 0 0 .853 1.665-.265 2.781 0 0 .792.995-.467 2.173 0 0 .528 1.666-.792 2.052-1.016.304-6.052.142-7.84.04-.487-.04-.974-.162-1.4-.406a4.326 4.326 0 0 0-1.869-.569.139.139 0 0 1-.142-.142V8.028c0-.142.102-.243.224-.284.386-.101.691-.304 1.442-1.482 0 0 .223-2.092 1.686-2.946.406-.71.853-1.563 1.36-2.538zm-5.748 6.54a.32.32 0 0 1 .325.325v7.087a.321.321 0 0 1-.325.325H.325A.321.321 0 0 1 0 14.73V7.643c0-.183.143-.325.325-.325zM18 44.631L5.952 55.863l-.084-.09-2.368-2.54L0 49.48l2.592-2.416 3.5 3.752L15.548 42z'/%3E%3C/g%3E%3C/svg%3E");
      background-color: transparent;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 18px;
      transition: background .25s ease;
      width: 18px;

      .posthaven-upvote-side,
      .posthaven-upvote-arrow {
        display: none;
      }
    }

    &.posthaven-upvoted {
      .posthaven-upvote-icon {
        background-position: 0 -40px;

        //background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><title>Checkmark</title><path d="M15.43 3.95l-1.793-1.793L6.38 9.412 2.795 5.825 1 7.62 6.38 13l1.795-1.794L15.43 3.95z" fill="%23FFF" fill-rule="evenodd"/></svg>') !important;

      }
    }
  }
}

@media handheld, only screen and (max-width: 414px) {
  .posthaven-share-links {
    flex-wrap: wrap;
    justify-content: space-between;

    > .posthaven-share-item {
      display: block;
      margin: 5px 0;
    }
  }
}



.posthaven-checkbox-field {
  line-height: 1.4em; // so the bottom of the checkbox doesnt get clipped

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    cursor: pointer;
    display: flex;
    line-height: normal;
    margin-left: -4px;
    padding: 5px;
    position: relative;
    text-align: left;
    user-select: none;

    &:hover {
      &:before {
        border: solid 1px #f00;
      }
    }

    &:before {
      border-radius: 4px;
      box-shadow: inset 1px 1px 3px rgba(0,0,0,.15);
      background: #fcfcfc;
      border: solid 1px #ccc;
      content: "";
      display: inline-block;
      flex: 0 0 20px;
      height: 20px;
      margin: -2px 6px 0 0;
    }
  }

  input[type="checkbox"]:checked + label {
    &:before {
      background-color: $primary;
      background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><title>Checkmark</title><path d="M15.43 3.95l-1.793-1.793L6.38 9.412 2.795 5.825 1 7.62 6.38 13l1.795-1.794L15.43 3.95z" fill="%23FFF" fill-rule="evenodd"/></svg>');
      background-position: 2px 2px;
      background-repeat: no-repeat;
      border: solid 1px $primary;
    }
  }

  input[type="checkbox"]:not(:checked) + label {
    &:hover:before {
      background: #fff;
      border: solid 1px #aaa;
    }

    &:active:before {
      background: #eee;
      border: solid 1px $primary;
    }
  }
}


.posthaven-comment-form {
  padding: 0 0 40px;
  text-align: center;

  .posthaven-comment-add-url { display: none; }

  input[type=submit] {
    display: none;
  }

  .posthaven-field {
    display: block !important;
    margin: 10px 0px;

    label {
      display: none;
      font-family: $accentFont;
      font-size: 15px;
      line-height: 30px;
    }

    textarea, input[type=text] {
      width: 100%;
      font-family: $accentFont;
    }

    input[type=checkbox] {
      margin-right: 3px;
    }

    &.posthaven-comment-notify-field {
      label {
      }
    }
    &.posthaven-comment-body-field {
      label {
        font-weight: bold;
        text-align: center;
        width: 100%;
      }

      textarea {
        min-height: 40px;
      }
    }
  }
  .posthaven-comment-verification { width: 500px; margin-bottom: 10px; }
}

/*********************************************************
*  Archive
*********************************************************/
.archive-container {
  position: relative;
  .posthaven-loader {
    margin: 5em auto;
  }
}
.archive-view {
  margin-bottom: 60px;
  a {
  	color: inherit;
  	font-size: 18px;
  	font-weight: bold;
  	line-height: 22px;
    outline: none;
    &:first-child {
      margin-right: 40px;
    }
  }
}
.archive-results {
  margin-bottom: 40px;

  ul {
    padding: 0px;
  }
}
.posthaven-archive-all-dates {
  display: inline-block;
  margin-bottom: 40px;

}

.archive-all-dates {
  @extend .chips;
  margin-bottom: 2em;

  .clear-tag {
    span, span:hover {
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTAnIGhlaWdodD0nMTAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTEwIDEuODE0TDguMTg1IDAgNSAzLjE4NCAxLjgxNSAwIDAgMS44MTQgMy4xODUgNSAwIDguMTgzbDEuODE1IDEuODE1TDUgNi44MTQgOC4xODUgMTAgMTAgOC4xODQgNi44MTUgNC45OTh6JyBmaWxsPScjZmZmJyAvPjwvc3ZnPg==);
      //background-image: url("images/x.svg");
      text-indent: -5000em;
    }
  }
}

body {
  &.color-scheme-dark {
    .posthaven-archive-form input {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.86 12.287l-3.506-3.52a5.643 5.643 0 0 0-.708-7.117A5.663 5.663 0 0 0 5.64 0C4.121 0 2.708.59 1.646 1.65c-2.195 2.21-2.195 5.79 0 7.985a5.665 5.665 0 0 0 7.116.722l3.521 3.521a.436.436 0 0 0 .605 0l.972-.972a.427.427 0 0 0 0-.619zM8.35 8.353c-1.488 1.489-3.92 1.489-5.422 0-1.488-1.488-1.488-3.919 0-5.421 1.488-1.489 3.92-1.489 5.422 0 1.488 1.503 1.488 3.934 0 5.421z' fill='%23FFF' opacity='.5' fill-rule='nonzero'/%3E%3C/svg%3E");
    }  
  }

  &.color-scheme-auto {
    .posthaven-archive-form input {
      @media (prefers-color-scheme: dark) {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.86 12.287l-3.506-3.52a5.643 5.643 0 0 0-.708-7.117A5.663 5.663 0 0 0 5.64 0C4.121 0 2.708.59 1.646 1.65c-2.195 2.21-2.195 5.79 0 7.985a5.665 5.665 0 0 0 7.116.722l3.521 3.521a.436.436 0 0 0 .605 0l.972-.972a.427.427 0 0 0 0-.619zM8.35 8.353c-1.488 1.489-3.92 1.489-5.422 0-1.488-1.488-1.488-3.919 0-5.421 1.488-1.489 3.92-1.489 5.422 0 1.488 1.503 1.488 3.934 0 5.421z' fill='%23FFF' opacity='.5' fill-rule='nonzero'/%3E%3C/svg%3E");
      }
      @media (prefers-color-scheme: light) {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.86 12.287l-3.506-3.52a5.643 5.643 0 0 0-.708-7.117A5.663 5.663 0 0 0 5.64 0C4.121 0 2.708.59 1.646 1.65c-2.195 2.21-2.195 5.79 0 7.985a5.665 5.665 0 0 0 7.116.722l3.521 3.521a.436.436 0 0 0 .605 0l.972-.972a.427.427 0 0 0 0-.619zM8.35 8.353c-1.488 1.489-3.92 1.489-5.422 0-1.488-1.488-1.488-3.919 0-5.421 1.488-1.489 3.92-1.489 5.422 0 1.488 1.503 1.488 3.934 0 5.421z' fill='%23000' opacity='.5' fill-rule='nonzero'/%3E%3C/svg%3E");
      }
    }
  }

  &.color-scheme-light {
    .posthaven-archive-form input {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.86 12.287l-3.506-3.52a5.643 5.643 0 0 0-.708-7.117A5.663 5.663 0 0 0 5.64 0C4.121 0 2.708.59 1.646 1.65c-2.195 2.21-2.195 5.79 0 7.985a5.665 5.665 0 0 0 7.116.722l3.521 3.521a.436.436 0 0 0 .605 0l.972-.972a.427.427 0 0 0 0-.619zM8.35 8.353c-1.488 1.489-3.92 1.489-5.422 0-1.488-1.488-1.488-3.919 0-5.421 1.488-1.489 3.92-1.489 5.422 0 1.488 1.503 1.488 3.934 0 5.421z' fill='%23000' opacity='.5' fill-rule='nonzero'/%3E%3C/svg%3E");
    }  
  }
}

.posthaven-archive-form {
  input {
    background-repeat: no-repeat;
    background-position: 0px 7px;
    background-size: 14px 14px;
    font-size: 14px;
    height: 30px;
    padding: 0px 5px 0px 20px;
    width: 100%;
  }
}

.archive-link {
  font-size: 13px;
}

input.archive-search.archive-tooltip {
  color: #aaa;
}

time {
  color: unquote(" rgba(var(--primary), .25) ");
  font-size: 15px;
  font-family: $accentFont;
}

.archive-results {
  // for both .archive-list and .archive-by-date
  ul {
    li {
      list-style: none;
      padding-bottom: 2em;
    }
  }

  a {
    display: inline-flex;
    flex-direction: column;
  }

  h4 {
    margin: 5px 0;
  }

  .count {
    opacity: .3;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

li.archive-entry {
  margin-bottom: 40px;
  em { background-color: #eee; font-style: normal; }

  .search-highlight {
  	color: #333333;
  	font-size: 22px;
  	font-weight: 500;
  	line-height: 34px;
    margin: 18px 0px;
  	text-align: justify;
  }
}
.archive-container { margin-bottom: 100px; }
.archive {
  margin: 0;
  font-size: 12px;
  h3 { margin: 0 0; }
}
.search-archive {
  max-width: $postWidth;
  margin: 0 auto 50px;
  text-align: center;
}

.search-highlight em {
  background: $primary;
  color: choose-contrast-color($primary);
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  padding: 0 1px;
}

.archive-pagination {
  a {
  	color: inherit;
  	font-size: 18px;
  	font-weight: 500;
  	line-height: 22px;
   }
  .posthaven-archive-pagination {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .posthaven-archive-disabled {
      display: block;
    }
  }
}

#archive-results-by-date {
  display: none;
}

/*********************************************************
*  Responsiveness
*********************************************************/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  #topbar {
    .posthaven-tab { background-image: url("images/posthaven-tab-4x.png");  }
  }
  .feed-icon {
    background-size: 14px 14px;
    background-image: url("images/feed28.png");
  }
}


@media handheld, only screen and (max-width: 767px) {
  #header, #main, #topbar, .alert, section.subhead, .post-aside {
    
  }
  .alert { width: auto; }
  #header {
    h1 { font-size: 30px; } h2 { font-size: 20px; }
  }
  #back_to_blog { display: none; }
  .posthaven-archive-form input { width: 90%; }
}

