@import 'mixins';
@import 'variables';

body.menu-active {
  overflow: hidden;
}

#site-container {
  background: #fff;
  border-radius: 0px;
  left: 0%;
  height: 100vh;
  position: relative;
  transition: all .5s ease;
  transform-origin: top left;
  top: 0px;
  width: 100%;
  
}

body.menu-active .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

/*********************************************************
*  Navigation
*********************************************************/
.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1200px) {
    padding: 20px 0;
  }

  @media (min-width: 769px) and (max-width: 1199px) {
    padding: 10px 20px;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }

  .menu-trigger {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-family: $accentFont;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    text-transform: uppercase;
  }
}

// the follow applies only to mobile menu
.side-navigation {
  background: #fff;
  font-family: $accentFont;
  height: 100vh;
  left: -330px;
  overflow: auto;
  position: fixed;
  padding: 0 50px;
  top: 0;
  transition: left 0.5s ease-in-out;
  width: 230px;
  z-index: 10;
  .search-form {
		margin: 40px auto;
	}
	nav.menu {
		margin: 40px auto;
	}
	.all-tags {
		margin: 40px auto;
	}
	.archives {
		margin: 40px auto;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  h3{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    margin: 0;
  }
  .more_links{
    font-size: 14px;
    font-family: $accentFont;
    line-height: 28px;
    color: #ec9405;
  }
}

body.menu-active .side-navigation {
  z-index: 99;
  left: 0;
}

@keyframes activateMenu {
    0% {
      z-index: -1;
    }

    100% {
      z-index: 1;
    }   
}

section.menu,
.navigation nav.menu {

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
section.menu,
.side-navigation {
  ul li{
    color: rgba($primary, 0.9);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    list-style: none;
    margin-right: 25px;
  }
}
/*********************************************************
*  Topbar and Header
*********************************************************/


.header {
  max-width: $postWidth;
  text-align: left;
  @media (min-width: 769px) {
    padding: 100px 0;
  }
  @media (max-width: 768px) {
    padding: 100px 10px;
  }
  margin: auto;

  h1 {
    font-size: 36px;
    margin: 0 0 5px;
    word-wrap: break-word;

    &:hover {
      text-decoration: none;
    }
  }
  h5 {
    margin: 0px;
    word-wrap: break-word;
  }

}

.post-template,
.page-template{

  .header{
    padding: 20px 0;
    position: relative;
    @media (max-width: 768px) {
      text-align: center;
    }
    h1{
      font-size: 20px;
    }

    h5{
      font-size: 18px;
    }
  }
}

.posthaven-user-menu {
  flex: 0 auto;
  position: relative;

  // icon/trigger (using .ph-trigger in js)
  figure {
    background: white;
    border-radius: 40px;
    border: solid 2px rgba(128,128,128,.3);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 0px;
    height: 40px;
    padding: 2px;
    position: relative;
    transition: all .25s ease;
    width: 40px;
    z-index: 10;

    // when menu has been clicked and "active" is on figure.ph-trigger
    &.active {
      // should mostly match hover state below
      border: solid 2px rgba(128,128,128,.5);
      box-shadow: 0 0 20px rgba(0,0,0,.15);

      span {
        // turns hamburger menu into an X to close menu
        i {
          opacity: 1;

          &:before {
            top: 2px;
            transform: rotate(-45deg);
          }
          &:after {
            bottom: 1px;
            transform: rotate(45deg);
          }
        }
      }
    }

    &:hover {
      border: solid 2px rgba(128,128,128,.5);
      box-shadow: 0 0 20px rgba(0,0,0,.15);

      span {
        i {
          opacity: 1;
        }

        &:after {
          top: calc(50% - 8px);
        }
      }
    }

    span {
      align-items: center;
      background: #3F3F3F;
      border: none;
      border-radius: 32px;
      display: flex;
      height: 32px;
      justify-content: center;
      overflow: hidden;
      position: relative;
      width: 32px;

      // hamburger menu on hover
      i {
        display: inline-block;
        height: 6px;
        left: 1px;
        opacity: 0;
        position: relative;
        transition: opacity .25s ease;
        width: 16px;

        &:before,
        &:after {
          background: #fff;
          border-radius: 3px;
          content: "";
          height: 3px;
          position: absolute;
          transition: all .25s ease;
          width: 16px;
        }

        &:before {
          top: -2px;
        }

        &:after {
          bottom: -2px;
        }
      }

      // blue rectangle in logomark
      &:before {
        background: #1285F9;
        content: '';
        display: block;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
      }
    }
  }

  .ph-menu {
    border: solid 1px rgba($primary, .05);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 17px;
    top: 22px;
    z-index: 9;

    ul {
      margin: 0;
      padding: 0;

      li {
        background: #fff;
        list-style: none;

        &:not(:first-child) {
          border-top: solid 1px rgba($primary, .05);
        }

        a {
          display: flex;
          left: 0;
          padding: 10px 20px;
          position: relative;
          transition: left .15s ease;
          user-select: none;
          white-space: nowrap;

          &:hover {
            left: 5px;
          }
        }
      }
    }
  }
}

.ph-canvas {
  background: rgba($primary, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: background .25s ease;
  width: 100%;
  z-index: -1;

  &.active {
    background: rgba(255,255,255,.5);
    display: block;
  }
}
body.menu-active .ph-canvas{
  opacity: 1;
  z-index: 11;
}

