@import 'mixins';
@import 'variables';

body.menu-active {
  width: 100%;
}

#site-container {
  border-radius: 0px;
  left: 0%;
  height: 100vh;
  position: relative;
  transition: all .5s ease;
  transform-origin: top left;
  top: 0px;
  width: 100%;
  
}

body.menu-active .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

@media (min-width: 861px) {
  .post-template,
  .page-template {
    // smaller headline-style for blog posts and pages
    // and shared with all mobile views
    header.header {
      display: flex;
      flex-direction: column;
      padding: 20px 0 0;
      position: relative;

      h1 {
        font-size: 20px;
        line-height: 1.25em;
        padding-top: 4px;
      }

      h5 {
        font-size: 18px;
        line-height: 1.5em;
      }
    }
  }
}

/*********************************************************
*  Navigation
*********************************************************/
header.header {
  @media (max-width: 860px) {
    align-items: center;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,.15);
    display: flex;
    justify-content: center;
    min-height: 60px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    h1 {
      font-size: 20px;
      padding-top: 4px;
    }
  }

  @media (min-width: 861px) {
    margin: auto;
    max-width: $postWidth;
    text-align: left;

    h1 {
      font-size: 36px;
      margin: 0; // also affects site header
      word-wrap: break-word;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @media (min-width: 861px) {
    padding: 120px 30px;
  }

  h5 {
    margin: 0;
    word-wrap: break-word;

    @media (max-width: 860px) {
      display: none;
    }
  }

  .menu {
    display: inline-flex;
    left: 20px;
    position: fixed;
    top: 20px;
  }

  .menu-trigger {
    @extend .button;
  }

  .posthaven-user-menu {
    position: fixed;
    right: 20px;
    top: 20px;

    // icon/trigger (using .ph-trigger in js)
    figure {
      background: white;
      border-radius: 40px;
      border: solid 2px rgba(128,128,128,.3);
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      font-size: 0px;
      height: 40px;
      padding: 2px;
      position: relative;
      transition: all .25s ease;
      width: 40px;
      z-index: 10;

      // when menu has been clicked and "active" is on figure.ph-trigger
      &.active {
        // should mostly match hover state below
        border: solid 2px rgba(128,128,128,.5);
        box-shadow: 0 0 20px rgba(0,0,0,.15);

        span {
          // turns hamburger menu into an X to close menu
          i {
            opacity: 1;

            &:before {
              top: 2px;
              transform: rotate(-45deg);
            }
            &:after {
              bottom: 1px;
              transform: rotate(45deg);
            }
          }
        }
      }

      &:hover {
        border: solid 2px rgba(128,128,128,.5);
        box-shadow: 0 0 20px rgba(0,0,0,.15);

        span {
          i {
            opacity: 1;
          }

          &:after {
            top: calc(50% - 8px);
          }
        }
      }

      span {
        align-items: center;
        background: #3F3F3F;
        border: none;
        border-radius: 32px;
        display: flex;
        height: 32px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 32px;

        // hamburger menu on hover
        i {
          display: inline-block;
          height: 6px;
          left: 1px;
          opacity: 0;
          position: relative;
          transition: opacity .25s ease;
          width: 16px;

          &:before,
          &:after {
            background: #fff;
            border-radius: 3px;
            content: "";
            height: 3px;
            position: absolute;
            transition: all .25s ease;
            width: 16px;
          }

          &:before {
            top: -2px;
          }

          &:after {
            bottom: -2px;
          }
        }

        // blue rectangle in logomark
        &:before {
          background: #1285F9;
          content: '';
          display: block;
          height: 32px;
          position: absolute;
          right: 0;
          top: 0;
          width: 10px;
        }
      }
    }

    .ph-menu {
      border: solid 1px rgba($primary, .05);
      border-radius: 4px;
      box-shadow: 0 0 20px rgba(0,0,0,.15);
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 17px;
      top: 22px;
      z-index: 9;

      ul {
        border-radius: 4px;
        margin: 0;
        overflow: hidden;
        padding: 0;

        li {
          background: #fff;
          list-style: none;

          &:not(:first-child) {
            border-top: solid 1px rgba($primary, .05);
          }

          a {
            display: flex;
            left: 0;
            padding: 10px 20px;
            position: relative;
            transition: left .15s ease;
            user-select: none;
            white-space: nowrap;

            &:hover {
              left: 5px;
            }
          }
        }
      }
    }
  }
}

body:not(.menu-active) {
  .posthaven-user-menu {
    z-index: 10;
  }

  .post-template .header,
  .page-template .header {
    z-index: 2;
  }
}

.ph-canvas {
  background: unquote(" rgba(var(--background), 0) ");
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .25s ease;
  width: 100%;
  z-index: -1;

  &.active {
    background: unquote(" rgba(var(--background), .75) ");
    opacity: 1;
    z-index: 1;
  }
}

