@import 'mixins';
@import 'variables';

.posthaven-file-download {
  font-family: $accentFont;
}

.post-image {
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  display: flex;
  overflow: hidden;
}

aside {
  section {
    margin-bottom: 10px;
  }

  a {
    color: rgba($primary, .75);

    &:hover {
      color: $primary;
    }
  }

  .tag-count {
    font-size: 12px;
  }

  .show-tags {
    font-size: 12px;
    margin-top: 5px;
  }

  h3 { 
    margin: 20px 0px 5px;
    font-size: 12px;
    font-weight: normal;
  }

  ul {
    padding-left: 0px;
    margin: 0px 0px;

    li {
      list-style: none;
    }
  }
}

.post-list {

  figure {
    @extend .post-image;
    height: 400px;
    margin: 0 auto 40px;
    max-width: 100%;
    width: $postWidth;

    @media (max-width: 414px) {
      max-height: 40vh;
    }
  }

  .post {
    margin: 0 auto 125px;
  }
}

body.post-template {
  .post {
    header:not(.has-image) {
      margin-top: 100px;
    }
  }
}

.private-indicator {
  align-items: center;
  background: $primary;
  border-radius: 100%;
  display: inline-flex;
  height: 26px;
  justify-content: center;
  position: relative;
  top: -2px;
  width: 26px;

  svg {
    fill: #fff;
    height: 12px;
    width: 10px;
  }
}

.post {
  font-size: $bodyFontSize;
  margin: 0 auto;
  max-width: 100%;

  @media (min-width: 861px) {
    width: calc(100% - 280px); // so full-width post images can pass "between" the menu and posthaven button
  }

  @media (max-width: 860px) {
    width: calc(100% - 70px); // images are full width on mobile
  }

  header {

    .post-title {
      line-height: 1em;
      margin: 0 auto;
      max-width: 100%;
      width: $postWidth;

      a {
        span.date {
          font-family: $accentFont;
          font-size: 15px;
        }
      }

      h2 {
        @media (max-width: 860px) {
          font-size: 36px;
        }
        @media (min-width: 861px) {
          font-size: 48px;
        }
        line-height: 1em;

        a {
          color: unquote(" rgba(var(--primary), 1) ");

          .date {
            font-weight: 500;
          }
        }
      }
    }

    &.has-image {
      align-items: flex-end;
      @media (min-width: 513px) {
        min-height: 50vh;
      }
      @media (max-width: 512px) {
        min-height: 30vh;
      }
      margin: 50px -20px 40px;
      padding-bottom: 30px;
      position: relative;
      @extend .post-image;

      &:after {
        background: linear-gradient(0deg, black 0%, rgba(0,0,0,.5) 35%, transparent 100%);
        bottom: 0;
        content: "";
        height: 25vh;
        left: 0;
        opacity: .5;
        position: absolute;
        right: 0;
      }

      .post-title {
        position: relative;
        z-index: 1;

        @media (max-width: 872px) {
          margin: 0 20px;
        }

        @media (min-width: 873px) {
          margin: 0 auto;
        }

        a {
          text-shadow: 0 2px 5px rgba(0,0,0,.25);

          .date {
            color: rgba(255,255,255,.6);
            font-weight: bold;
          }
        }

        h2 {
          margin: 20px 0 0;

          a {
            color: #fff;
          }
        }

        figure {

        }
      }
    }

    &:not(.has-image) {

      .post-title {
        margin: 20px auto;

        a {
          .date {
            color: unquote(" rgba(var(--primary), .3) ");
            font-weight: 500;
          }
        }

        h2 {
          color: unquote(" rgba(var(--primary), 1) ");
          margin: 20px 0 0;

          a {
            @include highlighted-link(var(--link), .17); // color, background opacity, text color (optional)

            &:hover {
              @include highlighted-link(var(--link), .25); // color, background opacity, text color (optional)
            }
          }
        }
      }
    }
  }

  .post-body {
    @include selection($primary); // adding outside of posthaven-post-body allows selection color modification for text not wrapped in <p> tags
  }

  .posthaven-post-body {
    font-family: $postFont;
    font-size: 20px;
    line-height: 28px;
    margin: 25px auto 0;
    max-width: 100%;
    width: $postWidth;

    a {
      @include highlighted-link(var(--link), .1, .97); // color, background opacity, text color (optional)
      padding: 0 2px;

      &:hover {
        @include highlighted-link(var(--link), .17, 1); // color, background opacity, text color (optional)
      }
    }

  p.posthaven-read-more-link {
  }

  p {
    line-height: 1.6em;

    @media (min-width: 769px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
      margin: 24px auto;
    }
  }

  @media (min-width: 769px) {
    font-size: 20px;
  }

  hr {
    background: unquote(" rgba(var(--primary), .1) ");;
    border: none;
    height: 4px;
    border-radius: 5px;
  }

  ul, ol {
    li {
      line-height: 1.6em;
    }
  }

  .posthaven-gallery {
    .posthaven-gallery-chrome {
      .posthaven-gallery-info {
        align-items: center;
        display: flex;
        float: none;
        font-family: $themeFont;
        font-size: 14px;

        span {
          padding: 5px 3px;
        }
      }

      .posthaven-gallery-next {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1jYXJldCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4wMTQuNDc3Yy0uNjktLjY0My0xLjc0Ni0uNjQzLTIuNDExLjA0NUwuNDgzIDUuODVhMS42NjIgMS42NjIgMCAwMDAgMi4zNDJsNS4wOTYgNS4zMDRBMS42OCAxLjY4IDAgMDA2LjgyIDE0Yy40MzYgMCAuODUtLjE2IDEuMTk0LS40Ni42ODgtLjY0Mi42ODgtMS43NDUuMDQ1LTIuNDFMNC4wNjQgNy4wMmwzLjk1LTQuMTMyYy42ODgtLjY2Ni42ODgtMS43NjggMC0yLjQxMXoiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
        text-indent: -5000em;
        height: 14px;
        margin-top: 9px;
        width: 9px;

        &.posthaven-gallery-right {
          transform: scaleX(-1);
        }
      }
    }

    .posthaven-gallery-thumb-holder {

      a {
        border-bottom: solid 2px transparent;
        flex: 0 0 50px;
        margin-right: 5px;

        &:hover {
          border-bottom: solid 2px transparent;

          .posthaven-gallery-thumb {
            opacity: .75;

            &.posthaven-gallery-selected-thumb {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  img { height: auto; } // Don't allow max-width on imgs to distort
  iframe,
  object,
  embed {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-width: inherit\9;
  } /* IE8 css bug */

  audio, canvas, video {
    display: block;
  }

  ol, ul {
    padding-left: 25px;
  }

  blockquote {
    margin-left: 5px;
    padding-left: 20px;
    position: relative;

    &:before {
      background: unquote(" rgba(var(--primary), .05) ");
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      width: 8px;
      top: 0;
    }
  }
  pre { font-size: 13px; }
  .slash-divider { color: #ddd; }

    h1, h2, h3 { margin-top: 30px;  }
    h1 { font-size: 22px; }
    h2 { font-size: 20px; }
    h3 { font-size: 22px; font-style: italic; }

    a {
      border: none;
      word-break: break-word;
    }

    blockquote {
      @media (max-width: 768px) {
        margin: 0 1rem;
      }
    }
  }

  .posthaven-post-body {
    color: unquote(" rgba(var(--primary), .8) ");

    .posthaven-gallery {

      /*

      // section below makes the image sit a little outside of the bounds of the page
      // for a nice visual effect

      @media (min-width: 769px) {
        margin-left: -20px;
        margin-right: -20px;

        .posthaven-gallery-chrome,
        .posthaven-gallery-thumb-holder {
          margin: 0 20px;
        }
      }
      @media (max-width: 768px) {
        margin-left: -10px;
        margin-right: -10px;
        
        .posthaven-gallery-chrome,
        .posthaven-gallery-thumb-holder {
          margin: 0 10px;
        }
      }
      
      */

      .posthaven-gallery-chrome {
        margin-bottom: 10px;

        .posthaven-gallery-info {
          float: none;
        }
      }

      .posthaven-file {
        img {
          max-height: 90vh;
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    max-width: 100%;
    width: $postWidth;
  }

  .homepage-post-footer {
    margin-top: 30px;
    margin-bottom: 30px;

    .tags {
      margin: 10px 0;
      font-size: 12px;
      h6 { font-weight: normal; font-size: 12px; display: inline; }
      ul { padding-left: 10px; margin-left: 0; display: inline; }
      ul li { display: inline; margin-right: 10px; }
      ul li a { white-space: nowrap; }
    }

  }
  table { border-bottom: 1px solid #ddd; width: 100%; border-collapse:collapse; }
  table, th, td { border-top: 1px solid #ddd; }
  table th, table td { padding: 4px 5px; }
  table p:first-child { margin-top: 0px;}
  table p:last-child { margin-bottom: 0px;}
}

.page-template{
  .post .post-title {
    margin-top: 60px;

    h2{
      margin-bottom: 80px;
    }
  }
}

.gist {
  font-size: 13px;
}

.post:first-child {
  margin-top: 0px;
}

.posthaven-file-download {
  display: inline-flex !important;
}

.posthaven-gallery-modal-glasspane {
  z-index: 15 !important; // sit on top of ph-menu
}
