@import 'mixins';
@import 'variables';

aside.sidebar {
  background: unquote(" rgba(var(--background), 1) ");
  box-sizing: border-box;
  font-family: $accentFont;
  height: 100vh;
  overflow: auto;
  padding: 25px 50px;
  position: fixed;
  top: 0;
  transition: left 0.5s ease;
  z-index: 10;

  @media (max-width: 860px) {
    left: calc(-100% - 25px);
    width: calc(100% - 25px);
  }

  @media (min-width: 861px) {
    left: -350px;
    width: 330px;
  }

  nav.menu,
  section {
    margin: 0 0 40px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  h3 {
    color: unquote(" rgba(var(--primary), .3) ");
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    margin: 0;
  }

  a {
    color: unquote(" rgba(var(--primary), .8) ");

    &:hover {
      @include highlighted-link(var(--link), .17, 1); // color, background opacity, text color (optional)
    }
  }

  .tags-simple {
    li {
      a {
        span {
          font-weight: bold;
          opacity: .5;
        }

        &:hover {
          span {
            opacity: 1;
          }
        }
      }
    }
    .hide {
      display: none;
    }
  }

  .cta-links {
    color: unquote(" rgba(var(--link), 1) ");
    cursor: pointer;
    font-family: $accentFont;
    font-size: 14px;
    line-height: 28px;
  }

  .subscribe {
    font-size: 14px;
  }
}

body.menu-active .sidebar {
  box-shadow: 0 0px 100px 25px rgba(0, 0, 0, 0.15);
  z-index: 99;
  left: 0;
}

@keyframes activateMenu {
    0% {
      z-index: -1;
    }

    100% {
      z-index: 1;
    }   
}

section.menu,
.navigation nav.menu {

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

section.menu,
.sidebar {
  ul li{
    color: rgba($primary, 0.9);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    list-style: none;
  }
}