$primary: #000;
$postWidth: 600px;
$bodyFontSize: 22px;
$bodyFont: "garamond-premier-pro", serif;
$defaultFont: "garamond-premier-pro", serif;
$accentFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
