$primary: #000;
$link: #c07902;
$postWidth: 600px;
$bodyFontSize: 22px;
$bodyFont: 'garamond-premier-pro', sans-serif;
$defaultFont: "garamond-premier-pro";
$accentFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
