$primary: #000;
$postWidth: 600px;
$bodyFontSize: 22px;
$themeFont: "garamond-premier-pro", serif;
$accentFont: Rubik,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$postFont: "garamond-premier-pro", serif;
