{% assign hide_header = true %}

<div id="main">
  <div class="post-container">
    <article class="post">
      <header>
        <div class="post-title">
          <h2>404 Not Found</h2>
        </div>
      </header>
      <div class="posthaven-post-body">
        <p>Sorry, but we couldn't find the post you were looking for.</p>
        <p>Maybe try <a href="{{ site.url }}">here</a>?</p>
      </div>
    </article>
  </div>
</div>
