{% assign show_aside=true %}

<div id="main">

  <div class="post-container">
    <article class="post">
      {% include 'post' %}
    </article>
  </div>

  <footer id="post_responses" class="post-responses show-button-on-keyup">
    {% include 'responses' %}
  </footer>
</div>
