{% assign show_aside=true %}

<div id="main">

  <article class="post">
    {% include 'post' %}
      <footer id="post_responses" class="border-t border-white/10">
      
      <div class="flex items-center gap-2 p-4 md:p-8">
        {{ post | comment_button }}
        {{ post | upvote_button }}
        {% if settings.social-links %}
          {{ post | twitter_button }}
          {{ post | facebook_button }}
        {% endif %}
      </div>

      {% include 'responses' %}
    </footer>
  </article>

</div>
